* {
  font-family: "Indie Flower", cursive;
}

.beginButton {
  height: 100px;
  width: 200px;
  font-size: 30px;
  margin: 100px;
}

header {
  height: 50px;
}

footer {
  height: 60px;
  margin-top: 50px;
  padding: 10px 0;
  color: white;
  text-align: center;
}
.hidden {
  display: none;
}

.visible {
  display: block;
}
.list-group-item {
  font-size: 1.2em;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 26px;
}
